PORT=5000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=ErrorLens

JWT_SECRET=your_secret

REDIS_URL=redis://localhost:6379

RABBITMQ_URL=amqp://localhost

GEMINI_API_KEY=Your_Gemini_Api_Key
GROQ_API_KEY=Your_Grok_Api_Key
GOOGLE_CLIENT_ID=Your_Google_Client_Id